@model maPremiereAppMVC.Models.Produit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nom)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Prix)
            </td>
        </tr>
    </tbody>
</table>
<br/>
<p>@Html.ActionLink("Back to List", "Liste");<p/>
